.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-color {
  color: #FF2700 !important;
}
.upload-btn {
  color: #FF2700 !important;
  background-color: white !important;
  border: 1px solid !important;
}
.upload-btn-success {
  color: white !important;
  background-color: #FF2700 !important;
}
.upload-lower-sec {
  padding-top: 10px;
  padding-left: 90px;
}
.upload-lower-sec-label {
  padding-left: 30px;
}
.remove-margin {
  margin: 0;
}
.upload-upper-sec {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.dark-grey-label {
  color: #606060;
  font-size: 32px;
}
.light-grey-label {
  color: #989898;
}
.largify {
  font-size: 45px;
}
.apply-btn {
  padding: 30px;
  height: 120px;
}
.big-title{
  text-align: left;
  font-size: 40px !important;
  /* font-family: Apercu; */
  letter-spacing: 0 !important;
  color: #FF2700 !important;
  opacity: 1;
}
#grey-label {
  text-align: left;
  font-size:  20px;
  font-family: Apercu;
  letter-spacing: 0;
  color: #B4B4B4;
  opacity: 1;
  padding-right: 20px;
}
.bold-text {
  font-weight: bold;
}
.table-row {
  padding:20px;
}
